.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin: 3vh 5vh;
  .header-infos {
    display: flex;
    align-items: flex-end;
    gap: 5vh;
  }
}

.btn-dashboard {
  display: flex;
  align-items: center;
  border: solid 2px #188803;
  color: #188803;
  opacity: 0.8;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin: 8px;
  &:hover {
    opacity: 1;
  }
}

.btn-contacts {
  display: inline;
}

.dashboard-card {
  border-radius: 4px;
  border: #D2D5D4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5vh;
  padding: 3vh;

}

.dashboard-recap {
  display: flex ;
  .recap-infos-main {
    width: 50%;

    .recap-infos {
      margin: 5vh;
    }
  }
  .recap-map {
    margin: 3vh;
    width: 50%;
    height: 400px;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .dashboard-recap {
    display: block ;
    padding: 3vh;
    .recap-infos-main {
      width: 100%;
    }
    .recap-map {
      width: 90%;
      height: 300px;
    }
  }

  // .btn-dashboard {
  //  font-size: small;
  // }
}
