<%# FAIRE UNE MODAL ?? %>
<div class="container">
  <% @properties.each do |property| %>
  <div class="my-5">
    <h2><%= link_to property.name, dashboard_path(property: property) %>wps</h2>

  </div>
  <% end %>
</div>
