<div
  class="fab-container"
  data-navigation-target="fab"
  data-controller="dropdown"
  data-dropdown-target="fab"
>
  <%= link_to dashboard_path, class: "fab btn btn-success rounded-circle shadow" do %>
    <i class="fas fa-home"></i>
  <% end %>
</div>
