
<div class="banner-home">
<div class="img-home">
</div>
<div class="header-home">
  <h1>Home Way</h1>
  <p>You can go your home way!</p>
  <%= link_to "Click", dashboard_path, class: "btn-home" %>
  <%# <p>A CHANGER PAR ICI</p> %>
  <br>
  <br>
  <br>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi commodi temporibus nisi inventore qui nam, repellendus asperiores necessitatibus quod eaque porro, animi similique officiis ex distinctio quidem voluptates perferendis dolore.</p>
</div>
</div>
