<h1>Dashboard</h1>

<h1><%= @property.name %></h1>

<p><%= @property.address %></p>



<% if current_user.has_many_properties? %>
  <%= link_to "Changer de propriété", properties_path %>
<% end %>
<%# <p>rediriger vers un index de propriétes</p> %>
