<h1> new list item</h1>

<%= simple_form_for([@property, @item]) do |f| %>
  <%= f.input :title %>
  <p>changer les inputs format date</p>
  <%= f.input :deadline %>
  <%= f.submit class: "btn-dashboard" %>

<% end %>
